* {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body{
    margin: 0;
}
header{
    background-color: #1ac073;
    margin:0px;
    padding: 20px;
    font-size: 22px;
    height: 800px;
}
.logo{
    font-weight: 600;
    margin-left: 20px;
    margin-right: 380px;
    font-size: 24px;

}
.nav{
    display: flex;
    flex-direction: row;
    
    height: 100px;

}
a{
    text-decoration: none;
    padding-left: 20px;
    color: white;
}
.cart{
    padding-left: 250px;
}
@media screen and (max-width:1300px) {
    .cart{
        padding-left: 0px;

    }
}
.chef{
    display: flex;
    justify-content: center;
}
.header-img{
    height: 525px;
    
    
}
.header-search{
    color: white;
    height: 300px;
    width: 534px;
    padding-right: 20px;
    border-width: 0px;

}
span input{
    width: 270px;
    height: 58px;
    margin:0px;
    padding-left: 10px;
    border-width: 0px;
    border-radius: 10px  0px  0px 10px;

}
span button{
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;

    width: 112px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    color: white;
    
    background-color: #F3BA00;
    ;
}
footer{
    height: 137px;
    background-color: #1ac073;
}
p{
    font-size: 15px;
    width: 90%;
}
.input-div{
    display: flex;
}
h1{
    font-size: 60px;
}
.kitchen{
    height: 2029px;
}
.service{
    height: 860px;
}
.contact{
    height: 603px;
}
.listings{
    height: 1400px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.slider-out{

}
.outer-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}

.card img{
    max-width: 100%;
    height: 250px;
    
}
.card{
    border-radius: 10px;
    margin-right: 2px;

}
.row-1 ,.row-2,.row-3{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;

}
.rating img{
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -5px;
   
    border-radius: 10px;
}
.price{
    margin: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
   
}
.price img{
    
    margin-left: 18px;
    height: 19px;
}

.home{
    padding-left: 10px;
    font-weight: 800;
    font-size: 30px;
    margin: 30px;
}
.pop{
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.pop button{
    color: white;
    background-color: #1ac073;
    margin-top: 50px;
    cursor: pointer;
    width: 210px;
    height: 48px;
    border-width: 0px;
    border-radius: 10px;
}

.swiper {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
   
  }
  .swiper-cont{
    position: relative;
    width: 100%;
  }

.service{
    
    background-image: linear-gradient(white 50%,  #C7EACC 50%);
    
}
.service-cont{
    display: flex;
    
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.service-text{
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
   
}
.service-text h2{
    font-size: 40px;
    font-weight: 700;
}
.service-text p{
    margin-top: -20px;
    margin-left: 80px;
}
video{
    
}
.vid-cont{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin-bottom: 300px;
    margin-left: 50px;
    margin-top: 90px;

   

}
video{
    width: 50%;
  
    object-fit: cover;

}
.cont-div{
    background-color: #f0faf7;
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.cute{
    padding-left: 200px;
}
@media (max-width:1050px) {
    .cute{
        padding-left: 0px;
    }
}
.cont-input input{
    margin-top: 40px;
    margin-left: 100px;
   height: 164px;
   width: 94%;
   border-width: 0px;
   border-radius: 10px;
   
   
}
.Contact-text button{
    margin-top: 30px;
    margin-left: 10px;
    height: 58px;
    width: 216px;
    border-width: 0px;
    border-radius: 10px;
    background-color: #1ac073;
    color: white;
    

}
.Contact-text input{
    padding-left: 30px;
    margin-left: 10px;
    border-radius: 10px;
    
}



.footer-div{
    height: 137px;
    background-color: #1ac073;
    padding-top: 30px;
    
}
hr{
  
    width: 83%;
    
}
.card{
    box-shadow: 0px 4px 8px rgb(54, 52, 52);
    border-radius: 10px;
    transition: 2sec;
    

    
}
.card:hover{
    box-shadow: 0px 8px 16px rgb(54, 52, 52);
    
}
h2{
    font-weight: 700;
}
.swiper-slide .card{
    
}
.swiper-button-prev,.swiper-button-next{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 10;
    width: 70px;
    height: 70px;
    
    border-radius: 50px;
    
    top: 300%;
    transform: translate(-50%);
    @media (max-width: 1100px){
        top: 340%;
        
    };
    @media (max-width: 500px){
        top: 540%;
        
    }
    

}

.swiper-button-prev{
    margin-left: 180px;
}
.swiper-button-next{
    margin-right: 100px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}
.footer-div .logo{
    margin-left: 100px;
}



/* ADD TO Cart functionalities */


 
 
  
 
  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1336px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .modal-content h2 {
    margin: 0 0 20px;
  }
  .modal-content button {
    background-color: #1ac073;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal-content button:hover {
    background-color: #555;
  }
  .no-scroll {
    overflow: hidden;
  }


  /* Request Dish functionality */
  .reqmodal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .reqmodal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1336px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .reqmodal-content h2 {
    margin: 0 0 20px;
  }

  .reqmodal-content button:hover {
    background-color: #555;
  }
  .no-scroll {
    overflow: hidden;
  }

  /* adding discount tag */

  .discount img{
    width: 20px;
    height: 20px;

  }
  .discount{
    position: absolute;
    
  }
  .cart-dot{
    position: absolute;
    padding: 0px;
    
    color: #F3BA00;
    top: -65px;
    left: 1265px;
  }
  @media screen and (max-width:1300px) {
    .cart-dot{
        visibility: hidden;
    }
  }

  /* play/pause button */

  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url('/Users/avinashpratapsingh/Documents/jtg_assignment/assets/Arrow.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.3s;
  }
  .play-btn.hidden {
    opacity: 0;
    pointer-events: none;
  }
  .reqadish{
    font-weight: 700;
  }
  .reqmodal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .form input{
   
    width: 1128px;
    height: 50px;
    border-radius: 10px;
    border: none;
     background-color: #F2F2F2;
    margin-bottom: 50px;
  }
  .cancel{
    background-color: white;
    border-color: #1ac073;
    border-radius: 10px;
    color: #1ac073;
    outline: none;
    cursor: pointer;
   
    width: 210px;
    height: 48px;
  }
  .submit{
    background-color: #1ac073;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    
    width: 210px;
    height: 48px;

  }
  .imgurl{
    margin-right: 1000px;
  }
  .name{
    margin-right: 1070px;
  }
.cart-dot{
    cursor: pointer;
}





  